<div>
<% if(error && error.length > 0 ){ %>
    <div>
         <h2 class="error"><%= error %></h2>
    </div>
    <% }; %>

    <% if(success && success.length > 0 ){ %>
    <div>
         <h2 class="success"><%= success %></h2>
    </div>
    <% }; %>
</div>