<footer>

        <p><a class="footer-text"  href="/about">About</a></p>
        <p><a class="footer-icons"  href="https://github.com/lari-ldr"><i class="fab fa-github-square"></i></a></p>
        <p><a class="footer-icons"  href="https://codepen.io/lari-ldr"><i class="fab fa-codepen"></i></a></p>
        <p class="footer-text" >2020</p>

</footer>
</body>

    <script src="/javascripts/nav.js"></script>
    <script src="/javascripts/date.js"></script>
    <script src="/javascripts/kindOfAnimals.js"></script>
    <script src="/javascripts/aboutLinks.js"></script>
</html>