<ul class="background-imgs">
    <li>
        <a>
            <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <title>unsplash-logo</title>
            <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
            </span>
            <span>Krista Mangulsone</span>
        </a>
    </li>
    <li>
        <a>
            <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <title>unsplash-logo</title>
            <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
            </span>
            <span>Kate Stone Matheson</span>
        </a>
    </li>
    <li>
        <a>
            <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <title>unsplash-logo</title>
            <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
            </span>
            <span>Conner Baker</span>
        </a>
    </li>
    <li>
        <a>
            <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <title>unsplash-logo</title>
            <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
            </span>
            <span>Timothy Meinberg</span>
        </a>
    </li>
    <li>
        <a>
            <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <title>unsplash-logo</title>
            <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
            </span>
            <span>Emerson Peters</span>
        </a>
    </li>
    <li>
        <a>
            <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <title>unsplash-logo</title>
            <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
            </span>
            <span>Dan Gold</span>
        </a>
    </li>
    <li>
        <a>
            <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <title>unsplash-logo</title>
            <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
            </span>
            <span>Javier Esteban</span>
        </a>
    </li>
    <li>
        <a>
            <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <title>unsplash-logo</title>
            <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
            </span>
            <span>Jenn Evelyn-Ann</span>
        </a>
    </li>
    <li>
        <a>
            <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <title>unsplash-logo</title>
            <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
            </span>
            <span>Atanas Teodosiev</span>
        </a>
    </li>
    <li>
        <a>
            <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <title>unsplash-logo</title>
            <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
            </span>
            <span>Cat Mapper (Max Ogden)</span>
        </a>
    </li>
    <li>
        <a>
            <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <title>unsplash-logo</title>
            <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg>
            </span>
            <span>Matthew Henry</span>
        </a>
    </li>
      </ul>