* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #dfe6e9;
}

h2{
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0rem;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

label{
    color: #fdcb6e;
}

button{
    background-color: #15191a;
}

button {
    height: 44px;
    width: 100%;
    border: 1px solid #2d3436;
    background-color: #2d3436;
    color: #fdcb6e;
    border-radius: 2px;
    font: inherit;
    margin-bottom: 15px;
    margin-top: 3px;
    padding: 0 12px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .3s;
}

button:hover{
    border: 1px solid #fdcb6e;
    background-color: #fdcb6e;
    color: #2d3436;
}

/* NAV BAR */

.search-mobile-icon{
    display: none;
}

.fa-paw{
    margin: 0 2px;
}

.nav {
    padding: 0.8rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    min-height: 8vh;
    background-color: #2d3436;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* FORM SEARCH */

.formSearch {
    width: 70%;
    margin: 0rem 2rem;
}

#make_search, .textarea, .select {
    box-shadow: none;
    padding: 0 12px;
    text-align: left;
    border: 1px solid  #fdcb6e;
    border-radius: 2px;
    color: #fdcb6e;
    font-size: 16px;
    height: 44px;
    width: 100%;
    background: transparent;
    display: block;
    font: inherit;
    margin: 0;
}

/* DROPDOWN AND BURGUER CONTENT */

.nav-links{
    display: flex;
    justify-content: space-between;
    width: 10%;
}

.nav-text{
    color: #fdcb6e;
    font-weight: bold;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #fdcb6e;
    margin: 5px;
    transition: all 0.3s ease;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 4rem;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #fdcb6e;
    border-radius: 2px;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover{
    background-color: #2d3436;
    color: #fdcb6e;
    transition: background-color .3s;
}

.dropdownHoverEffect:hover .dropdown-content{
    display: block;
}

/* PAGINATION OF SEARCH RESULTS */

.pagination-wrapper{
    display: flex;
    justify-content: center;    
}
.pagination{
    padding: 0.2rem;
    display: flex;
    margin: 2rem 0;
    border-radius: 0.3rem;
    background-color: white;
    box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);
    cursor: pointer;
}

.pagination-links{
    padding: 0.5rem 1rem;
}

.active-page{
    background-color: #2d3436;
    color: #fdcb6e;
    border-radius: 5px;
    font-weight: 700;
}
  
  .pagination-links:hover:not(.active-page) {
    background-color: #fdcb6e;
    border-radius: 5px;
    transition: background-color .3s;
  }

/* SEARCH RESULTS */

.results-container{
    margin-top: 3rem;
}

.results-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.result-card{
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    align-items: center;
    border-radius: 2px;
    background-color: white;
    box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);
}

/* CARD INFORMATIONS SEARCH RESULTS */

.card-img{
    width: 100%;
    object-fit: cover; /* dar um olhada na compatibilidade*/
}

.card-stars{
    background-color: #fdcb6e;
    border-radius: .3rem;
    padding: .2rem .5rem;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-align: center; 
}

.card-title{
    font-size: 2rem;
    font-weight: 700;
    margin: 1.5rem 0;
    text-align: center; 
}

.card-address{
    font-size: 1rem;
    font-style: oblique; 
}

.card-description{
    font-size: 1.2rem;
    margin: 1.5rem 0;
    font-style: italic;
    text-align: center;
}

.card-btn{
    background-color: #2d3436;
    color: #fdcb6e;
    border-radius: .3rem;
    padding: .3rem .3rem;
    margin: 1rem 0;
    transition: background-color .3s;
}

.card-btn:hover{
    background-color: #fdcb6e;
    color: #2d3436;
  }

/* SHOW PAGE */

.show-container {
    margin-left: 13.07rem;
    margin-right: 13.07rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.show-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1.25rem;
}

.show-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: -1.4rem 0;
    border-radius: 2px;
    background-color: white;
    box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);
}

.show-card-top-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 9rem;
}

.show-card-stars{
    background-color: #fdcb6e;
    /* color: #2d3436; */
    border-radius: .3rem;
    padding: .2rem .5rem;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    margin-left: auto;
    text-align: center; 
}

.show-card-title{
    font-size: 4rem;
    font-weight: 700;
    margin: 1.5rem 0;
    text-align: center;
}

.show-card-address{
    font-size: 1rem;
    font-style: oblique;
    margin-bottom: 0.5rem;
}

.show-card-description{
    font-size: 1.2rem;
    margin: 1.5rem 0;
    text-align: inherit;
    line-height: 1.6;
    text-indent: 1.5rem;
}

.show-card-price{
    text-align: end;
}

.show-card-btn-link{
    color:#fdcb6e;
    font-weight: bold;
    transition: background-color .3s;
}

.show-card-btn{
    background-color: #2d3436;
    color: #fdcb6e;
    border-radius: .3rem;
    padding: .3rem .3rem;
    margin: 1rem 0;
    text-align: center;
    margin-left: auto;
    transition: background-color .3s;
}

.show-card-btn:hover{
    background-color: #fdcb6e;
    color: #2d3436;
  }

  .show-card-btn-link:hover{
    background-color: #fdcb6e;
    color: #2d3436;
  }

/* SLIDE IMAGE */

#slider{
    overflow: hidden;
}

#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img{
    width: 20%;
    float: left;
}

@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
    
}

/* REVIEW AREA */

.review-section{
    font-size: 4rem;
    font-weight: 700;
    padding-top: 2rem;
    text-align: center;
    margin: 0;
}

.review-link{
    font-size: 2rem;
    font-weight: 700;
    border-radius: .3rem;
    padding: .3rem .3rem;
    margin-left: auto;
    margin-right: auto;
    transition: background-color .3s;
}

.review-link-p{
    text-align: center;
}

.review-link:hover{
    background-color: #fdcb6e;
    color: #2d3436;
  }

.review-card{
    width: 20rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    background-color: #fdcb6e;
    margin: 2.5rem;
    padding: 1.25rem;
    /* box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2); */
}

.review-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.review-background{
    margin: 1.25rem;
    background-color: white;
    box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);
    border-radius: 2px;
}

.review-score{
    background-color:#2d3436;;
    color: #fdcb6e;
    border-radius: .3rem;
    padding: .2rem .5rem;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: auto;
    text-align: center;
}

.review-title{
    font-style: oblique;
    font-size: 1.25rem;
    margin-bottom: auto;
    margin-top: auto;
}

.review-comment{
    font-size: 1rem;
    text-indent: 0.5rem;
    text-align: inherit;
    margin-bottom: auto;
    margin-top: auto;
}

.review-date{
    font-size: 0.8rem;
    text-align: right;
    font-style: oblique;
    margin-top: auto;
    margin-bottom: auto;
}

.review-submitted{
    margin-top: auto;
    margin-bottom: auto;
}

.review-btn{
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.edit {
    margin-right: 10px;
    border: 1.5px solid #f1c40f;
    font: inherit;
    border-radius: 5px;
    padding: 2px 10px;
    width: 68.25px;
    text-align: center;
    background-color: white;
    font-weight: 700;
    transition: background-color .3s;
}

.edit:hover{
    background-color: #f1c40f;
    color: white;
    font-weight: 700;
  }

.delete {
    margin-right: 10px;
    border: 1px solid #e74c3c;
    font: inherit;
    border-radius: 5px;
    padding: 2px 10px;
    background-color: white;
    cursor: pointer;
    font-weight: 700;
    transition: background-color .3s;
}

.delete:hover{
    background-color: #e74c3c;
    color: white;
    font-weight: 700;
  }

/* FORM USER */

.form-user-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.8rem;
    text-align: center;
}


.form-container{
    margin-left: 13.07rem;
    margin-right: 13.07rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.form-wrapper{
    background-color: white;
    height: 100%;
    padding: 1.8rem;
    border-radius: 2px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.08);
}

.form-wrapper > a{
    color: #fdcb6e;
    border-radius: 2px;
    padding: 2px;
    transition: background-color .3s;
}

.form-wrapper a:hover{
    background-color: #fdcb6e;
    color: #2d3436;
    transition: background-color .3s;
    border-radius: 2px;
    padding: 0.25rem;
}

.form-wrapper > p{
    margin-bottom: 15px;
    margin-top: 3px;
    font-style: oblique;
}

.form-card{
    background-color:#2d3436;
    padding: 1.8rem;
    border-radius: 0.2rem;
    box-shadow: 0px 5px 10px 0pxrgba(0, 0, 0, 0.08);
}

.form-card a{
    color: #fdcb6e;
}

.form-card p{
    color: #fdcb6e;
}

.form-card li{
    color: #fdcb6e;
}

.input {
    box-shadow: none;
}

.input, .textarea {
    padding: 0 0.75rem;
    text-align: left;
}

.input, .textarea, .select {
    background-color: rgba(0,0,0,0);
    border: 1px solid  #fdcb6e;
    color: #2d3436;
    border-radius: 0.13rem;
    font-size: 1rem;
    height: 2.75rem;
    width: 100%;
}

.input, .textarea, .select {
    background-color: #fdcb6e;
    display: block;
    font: inherit;
    margin-bottom: 1rem;
    margin-top: 0.18rem;
}

.form-text-description{
    height: 10rem;
}

/* FORM PET */

.selectDay{
    margin-right: 3rem;
}

.selectMonth{
    margin-right: 3rem;
}

.form-animal-edit{
    margin-bottom: 1rem;
    font-size: 22px;
}

.form-animal{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-animal input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.form-checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
}

.form-animal:hover input ~ .form-checkmark {
    background-color: #ccc;
}
  
.form-animal input:checked ~ .form-checkmark {
    background-color: #fdcb6e;
}
  
.form-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.form-animal input:checked ~ .form-checkmark:after {
    display: block;
}
  
.form-animal .form-checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.pet-information{
    font-size: 0.8rem;
    font-style: oblique;
    margin-top: 0.25rem;
}

.birth-wrapper{
    display: flex;
}

.birth-wrapper-edit{
    display: flex;
    background-color: #fdcb6ea6;
    margin-bottom: 1rem;
    margin-top: 0.18rem;
    border-radius: 0.13rem;
    height: 2.75rem;
    width: 100%;
    padding: 0 0.75rem;
    padding-top: 0.8rem;
    cursor: no-drop;
    border: 1px solid #fdcb6ea6;
}

/* USER INFORMATIONS */

.disabled{
    cursor: no-drop;
    background-color: #fdcb6ea6;
    border: 1px solid #fdcb6ea6;
    color: #fdcb6ea6;
}

.birth{
    padding-right: 0.2rem;
}

.inputFake{
    color: #2d3436;
    padding-right: 0.2rem;
    font: inherit;
    text-align: left;
}

.user-card{
    padding-bottom: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.password-link{
    color: #fcb42ffa;
    border-bottom: 2px solid #fcb42ffa;
}

.user-space-bottom{
    margin-bottom: 3rem;
} 

.user-info li{
    font-size: 1.2rem;
    margin: 0.25rem 0;
    font-style: oblique;
    text-align: inherit;
    line-height: 1.3;
    padding-right: 0.2rem;
}

/* ABOUT PAGE */

.about-site{
    margin-bottom: 1rem;
    line-height: 1.6;
}

.authorPhotos{
    margin-bottom: 1rem;
}

.about-author{
    line-height: 1.5;
    transition: text-decoration .2s;
    text-decoration-color: white;
}

.about-author:hover{
    text-decoration: underline 2px #fdcb6e;
    color: #fdcb6e;
}

.social-media{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 2rem;
}

.about-icons{
    font-size: 4rem;
}

.about-me{
    font-size: 1.5rem;
    text-align: center;
}

/* FOOTER */

footer{
    padding: 1rem 15rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 8vh;
    background-color:#2d3436;
    width: 100%;
    bottom: 0;
}

.footer-text{
    color:#fdcb6e;
    font-weight: bold;
    /* font-size: 1.5rem; */
}

.footer-icons{
    font-size: 1.5rem;
    color:#fdcb6e;
}

/* FLASH MESSAGES */

.success {
    border: 1.5px solid #00b894;
    border-radius: 5px;
    text-align: center;
    background-color: #00b894;
    color: white;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.error{
    border: 1.5px solid #d63031;
    border-radius: 5px;
    text-align: center;
    background-color: #d63031;
    color: white;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

@media screen and (max-width:992px){

    body{
        overflow-x: hidden;
    }
    
    button{
        background-color: #15191a;
    }
    
    /* NAV */
    
    .nav-links{
        width: auto;
    }
    .nav-text{
        font-size: 1rem;
    }
    
    .userResized{
        margin-right: 1rem;
    }

    .formSearch{
        margin: 0rem 0.5rem;
    }

    /* MAIN RESULTS */
    
    .results-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .result-card{
        margin: 2rem;
        width: 100%;
          
    }
    
    .card-title{
        text-align: center;
        margin: 1.5rem 0.5rem;
    
    }
    
    .card-address{
        font-size: 0.8rem;
        margin: 0 0.5rem;
    }
    
    .card-description{
        margin: 1.5rem 0.5rem;
    }
    
    /* SHOW PAGE */
    
    .show-container {
        margin-left: 0;
        margin-right: 0;
    }
    
    .show-wrapper{
        padding: 0.5rem;
    }
    
    .show-card-top-bottom{
        padding: 0 0.4rem;
    }
    
    .show-card-title{
        font-size: 2.5rem;
    }
    
    .show-card-stars{
        font-size: 1.5rem;
    }

    .show-card-description{
        font-size: 1rem;
        margin: 0;
        text-align: inherit;
        line-height: 1.6;
    }

    .review-background{
        margin: 3rem 0.5rem;
    }
    
    .review-section{
        padding-top: 1.5rem;
        font-size: 2.5rem;
    }
    
    .review-link{
        font-size: 1.5rem;
        border-bottom: 2px solid #fdcb6e;
        border-radius: 0;
        padding-bottom: 0;
    }
    
    .review-wrapper{
        padding: 0.5rem;
    }
    
    .review-card{
        margin: 1rem;
    }
    
    /* USER INFORMATIONS */
    
    .form-container{
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }
    
    .form-wrapper{
        padding: 1.25rem;
    }
    
    .form-user-title{
        font-size: 2.5rem;
    }
    
    .form-card{
        padding: 1.25rem;
    }
    
    /* ABOUT PAGE */
    
    .about-site{
        text-align: justify;
    }
    
    .about-author{
        text-decoration: underline 2px #fdcb6e;
    }
    
    .social-media{
        flex-direction: column;
    }
    
    /* FOOTER */
    
    footer{
        padding: 1rem 3rem;
    }

    }

@media screen and (max-width:768px){

body{
    overflow-x: hidden;
}

button{
    background-color: #15191a;
}

/* NAV */

.UserNameNot{
    display: none;
}

.nav{
    padding: 0.8rem;
}

.nav-links{
    /* position: absolute; */
    position: fixed;
    right: 0px;
    height: 40vh;
    top: 9vh;
    background-color: #2d3436;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 30%;
    padding-top: 1.5rem;
    /* margin-top: 6%; */
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    min-width: 140px;
}

.nav-links li{
    opacity: 0;
}

.search-mobile-icon{
    display: unset;
    cursor: pointer;
    color:#fdcb6e;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.formSearchClosed{
    display: none;
}

.formSearch{
    margin-right: 1rem;
    margin-left: 1rem;
}

.dropdown-content a{
    color: #fdcb6e;
    font-weight: bold;
}

.currentUser{
    padding: 40px 16px;
}

.burger{
    display: block;
}

.nav-active{
    transform: translateX(0%); /* tras o menu da direita pra esquerda*/
}

/* MAIN RESULTS */

.results-wrapper{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.result-card{
    margin: 2rem;
    width: 100%;
      
}

.card-title{
    text-align: center;
    margin: 1.5rem 0.5rem;

}

.card-address{
    font-size: 0.8rem;
    margin: 0 0.5rem;
}

.card-description{
    margin: 1.5rem 0.5rem;
}

/* SHOW PAGE */

.show-container {
    margin-left: 0;
    margin-right: 0;
}

.show-wrapper{
    padding: 0.5rem;
}

.show-card-top-bottom{
    padding: 0 0.4rem;
}

.show-card-title{
    font-size: 2.5rem;
}

.show-card-stars{
    font-size: 1.5rem;
}

.show-card-description{
    font-size: 1rem;
    margin: 0;
    text-align: inherit;
    line-height: 1.6;
}

.review-background{
    margin: 3rem 0.5rem;
}

.review-section{
    padding-top: 1.5rem;
    font-size: 2.5rem;
}

.review-link{
    font-size: 1.5rem;
    border-bottom: 2px solid #fdcb6e;
    border-radius: 0;
    padding-bottom: 0;
}

.review-wrapper{
    padding: 0.5rem;
}

.review-card{
    margin: 1rem 0;
}

/* USER INFORMATIONS */

.form-container{
    margin-left: 0;
    margin-right: 0;
}

.form-wrapper{
    padding: 0.5rem;
}

.form-user-title{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.form-card{
    padding: 1rem;
}

.selectDay{
    margin-right: 1rem;
}

.selectMonth{
    margin-right: 1rem;
}

/* ABOUT PAGE */

.about-site{
    text-align: justify;
}

.about-author{
    text-decoration: underline 2px #fdcb6e;
}

.social-media{
    flex-direction: column;
}

/* FOOTER */

footer{
    padding: 1rem 3rem;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}
}