<% include ./partials/header %>
<% include ./partials/bodyHeader %>

<main class="show-container">
<!-- FLASH MESSAGES -->
<% include ./partials/flashMessages %>

<section class="show-wrapper">

    <article class="show-card user-card">
        <h1 class="show-card-title">ABOUT THE SITE AND DEVELOPMENT:</h1>

        <p class="about-site">All pets needs lots of fun, but frequently owners can’t given them the attention they need. In that way, our goal is make possible that the owners of pets book travel to their beloved ones without be present by themselves, but with all the comfort, security and affection they deserves. We have a capable team that will take care of everything to your pet have the best time during all the adventure is about to come.</p>
        <p class="about-site">In the future will be add functions like: search filter, booking history, monitoring not the pet in real time, login, register with facebool, google and twitter.</p>
        <p class="about-site">Pets_travel was created - using the MEN Stack (Mongodb, Express and NodeJs) - to show the habilities learned during The Web Developer Bootcamp course by Colt Steele (Udemy). All the informations are fake, make it with faker_js. The images in the hotels, landing, login and register pages are from Unsplash and all photos have been credited, the link to the profile of each one is in below:</p>
       
        <ul class="authorPhotos">
        </ul>

        <h2>SOBRE O SITE E SEU DESENVOLVIMENTO:</h2>

        <p class="about-site">Todos os bichinhos precisam de muito diversão, mas com o ritmo agitado do dia-a-dia os donos de pet muitas vezes não conseguem dar a atenção que seus bichinhos merecem. Dessa forma, o nosso objetivo é fazer possível que os donos de pets mandem seus bichinhos em férias sem eles estarem presentes, mas claro com toda a segurança, carinho e conforto que eles merecem. Nós temos um time preparado que irá cuidar de tudo para que o seu bichinho tenha grandes momentos de diversão durante toda a jornada que esta por vir.</p>
        <p class="about-site">No futuro as seguintes funções serão adicionadas: filtro de busca, histórico de viagens, monitoramento em tempo real de seu pet em viagem, login e register com facebook, google e twitter.</p>
        <p class="about-site">Pets_Travel foi criado - usando o stack MEN (Mongodb, Express e NodeJs) - para mostrar as habilidades aprendidas durante o curso básico The Web Developer Bootcamp criado por Colt Steele (Udemy). Todas as informações encontradas no site são falsas, geradas com o faker_js. As imagens nas páginas dos hoteis, landing, login e register são do site Unsplash e todas as fotos foram devidamente creditadas, os links para os perfis de cada um dos fotógrafos encontram-se logo acima.</p>

        <ul class="social-media">
            <li class="about-me">By Larissa Dantas Requena</li>
            <li class="about-icons"><a href="https://twitter.com/ldr_lari"><i class="fab fa-twitter-square"></i></a></li>
            <li class="about-icons"><a href="https://www.instagram.com/ldr_lari/"><i class="fab fa-instagram"></i></a></li>
            <li class="about-icons"><a href="https://github.com/lari-ldr"><i class="fab fa-github-square"></i></a></li>
            <li class="about-icons"><a href="https://codepen.io/lari-ldr"><i class="fab fa-codepen"></i></a></li>
        </ul>
    
    </article>
</section>
</main>

<% include ./partials/footer %>