<% include ./partials/header %>
<% include ./partials/bodyHeader %>

       <main class="o-main">
            <div>

                    <form action="/register" method="POST">
                            <h2>Owner informations</h2>
                            <label for="firstName">First Name</label>
                            <input type="text" name="firstName" placeholder="first name">
                            <label for="lastName">Last Name</label>
                            <input type="text" name="lastName" placeholder="last name">
                            <label for="username">User name</label>
                            <input type="text" name="username" placeholder="username">
                            <label for="birth">Birthday</label>
                            <input type="date" name="birth">
                            <label for="email">Email</label>
                            <input type="email" name="email" placeholder="email">
                            <label for="password">Password</label>
                            <input type="password" name="password" placeholder="password">
 
                            <button>Register</button>
                        </form>
       </main>
<% include ./partials/footer %>