<% include ./partials/header %>
<% include ./partials/bodyHeader %>

<main>
    <section class="form-container">
        <% include ./partials/flashMessages %>
        <article class="form-wrapper">

            <h1 class="form-user-title">Make a new review to <%= hotel.title %></h1>

            <form class="form-card" action="/search/<%= hotel._id%>/comments" method="POST">
                <label for="title_comment">Title's comment</label>
                <input class="input" id="title_comment" type="text" placeholder="title" name="comment[title]">

                <label for="content">Content</label>
                <input class="input form-text-description" id="content" type="text" maxlength="300" placeholder="content" name="comment[content]">

                <label for="score">Score</label>
                <input class="input" id="score" type="number" placeholder="score" name="comment[score]" max="10.0" min="0.0" step="0.5"></input>

                <p>By: <%= currentUser.username %></p>

                <button>Submit Review</button>

                <a href="/search/<%= hotel._id %>">Go Back!</a>
            </form>
        </article>
    </section>
</main>
<% include ./partials/footer %>