<% include ./partials/headerLandingLoginRegister %>
       <main> 
        <section class="form-container background-forgot-restore">
        <article class="form-wrapper">
                    <form action="/forgot" method="POST">
                        <h1 class="formTitle">
                            <a href="/">Pets_Travel</a>
                        </h1>
                        <% include ./partials/flashMessages %>
                        <h2>Forgot Password?</h2>
                            
                            <label for="email">Email</label>
                            <input id="email" class="input" type="email" name="email"placeholder="email">
                            
                            <button type="submit">Enter</button>
                            <p><a class="form-links" href="/">Go Back!</a></p>
                        </form>
                    </article>
                </section>
                
               </main>
               <% include ./partials/footerLandingLoginRegister %>