<% include ./partials/headerLandingLoginRegister %>
       <main>
        <section class="form-container">
                <article class="form-wrapper">
                    <form action="/login" method="POST">
                        <h1 class="formTitle">
                        <a href="/">Pets_Travel</a>
                        </h1>
                        <% include ./partials/flashMessages %>
                            <h2>Login</h2>
                            <label for="username">Username:</label>
                            <input id="username" class="input" type="text" name="username" placeholder="username">
                            
                            <label for="password">Password</label>
                            <small><a class="form-links" href="/forgot">Forgot?</a class="form-links"></small>
                            
                            <input id="password" class="input" type="password"  name="password" placeholder="password">
                            <button>Enter</button>
                            <p><a class="form-links" href="/">Go Back!</a></p>
                            <p><a class="form-links" href="/register">Don't have an account? Join</a></p>
                        </form>
                </article>
        </section>

        <% include ./partials/landingBackground %>

       </main>

       <% include ./partials/footerLandingLoginRegister %>