<!DOCTYPE html>
<html>
    <head>
        <title>Pets Travel</title>
        <link rel="stylesheet" type="text/css" href="/stylesheet/loginAndRegister.css">
    </head>
    <body>
        
       <main class="o-main">
        <section class="container">
        <% include ./partials/flashMessages %>
                <div class="mainForms">
                    <form action="/login" method="POST">
                        <h1>
                        <a href="/">Pets_Travel</a>
                        </h1>
                            <h2>Login</h2>
                            <label for="username">Username:</label>
                            <input id="username" class="input" type="text" name="username" placeholder="username">
                            
                            <label for="password">Password</label>
                            <small><a href="/forgot">Forgot?</a></small>
                            
                            <input id="password" class="input" type="password"  name="password" placeholder="password">
                            <button>Enter</button>
                            <a href="/">Go Back!</a>
                        </form>
                </div>
        </section>
       </main>

</body>
</html>