<% include ./partials/header %>
<% include ./partials/bodyHeader %>

<main>
<section class="form-container">
    <!-- FLASH MESSAGES -->
<% include ./partials/flashMessages %>

    <article class="form-wrapper">

        <h1 class="form-user-title"><%= currentUser.username %>, add a new pet: </h1>

        <form id="petForm" class="form-card" action="/user/<%= currentUser._id %>/add_pet" method="POST">

            <label for="pets_name">Pet's Nickname:</label>
            <input class="input" id="pets_name" type="text" name="pet[petName]" placeholder="your pet's nickname">
                
            <p>Birth:</p>

            <div class="birth-wrapper">
                <select class="input selectDay" name="pet[birth]" class="day" form="petForm">
                    <option value="0" selected="">Day</option>  
                </select>
                    
                <select class="input selectMonth" name="pet[birth]" class="month" form="petForm">
                    <option value="0" selected="">Month</option>
                </select>
                    
                <select class="input selectYear" name="pet[birth]" class="year" form="petForm">
                    <option value="0" selected="">Year</option>
                </select>
            </div>

            <label class="form-animal" for="cat">Cat
                <input id="cat" type="radio" name="pet[cat]" value="Cat" placeholder="cat">
                <span class="form-checkmark"></span>
            </label>

            <label class="form-animal" for="dog">Dog
                <input id="dog" type="radio" name="pet[dog]" value="Dog" placeholder="dog">
                <span class="form-checkmark"></span>
            </label>
                

            <label for="breed">Breed:</label>
            <input class="input" id="breed" type="text" name="pet[breed]" placeholder="breed">
                
            <label for="description">Description:</label>
            <input id="description" class="input form-text-description" type="text" maxlength="300" name="pet[description]" placeholder="insert any details that you want">

            <button>Submit Pet!!!</button>

            <a href="/user/<%= currentUser._id %>/show_pet">Go Back!</a>
        </form>
    </article>
</section>
</main>

<% include ./partials/footer %>