<% include ./partials/headerLandingLoginRegister %>
       <main>
                <section class="form-container form-container-register">
                    <article class="form-wrapper form-wrapper-register">
                    <form id="userForm"  action="/register" method="POST">
                        
                        <h1 class="formTitle">
                            <a href="/">Pets_Travel</a>
                        </h1>
                        <% include ./partials/flashMessages %>
                        <h2>Sign Up</h2>
                            
                            <label for="firstName">First Name:</label>
                            <input id="firstName" class="input" type="text" name="firstName" placeholder="first name">

                            <label for="lastName">Last Name:</label>
                            <input id="lastName" class="input" type="text" name="lastName" placeholder="last name">

                            <label for="username">Username:</label>
                            <input id="username" class="input" type="text" name="username" placeholder="username">

                    <label>Birth:</label>
                    <div class="birth-wrapper">
                    <select class="input selectDay" name="birth" class="day" form="userForm">
                        <option value="0" selected="">Day</option>  
                    </select>
                    
                    <select class="input selectMonth" name="birth" class="month" form="userForm">
                        <option value="0" selected="">Month</option>
                    </select>
                    
                    <select class="input selectYear" name="birth" class="year" form="userForm">
                        <option value="0" selected="">Year</option>
                    </select>
                </div>
            
                            <label for="email">E-mail:</label>
                            <input id="email" class="input" type="email" name="email" placeholder="email">

                            <label for="password">Password:</label>
                            <input id="password" class="input" type="password" name="password" placeholder="password">
 
                            <button>Register</button>
                            <p><a class="form-links" href="/">Go Back!</a></p>
                       
                        </form>

                    </article>
                </section>

                <% include ./partials/landingBackground %>

       </main>

       <% include ./partials/footerLandingLoginRegister %>